<div class="modal-header">
	<h3 class="modal-title" id="modal-title">
		<span ng-if='$ctrl.instance.addMode'>
			Add Book
		</span>
		<span ng-if='!$ctrl.instance.addMode'>
			{{$ctrl.context.book.name}}
		</span>
	</h3>
</div>
<div class="modal-body" id="book-modal-body">
	<form name='$ctrl.newBookForm' ng-if='$ctrl.instance.addMode'>
		<div class='form-group'>
			<label for="name">* Name</label>
			<input type="text" class="form-control" id="name" placeholder="Name" ng-model='$ctrl.newBook.name' required>
		</div>
		<div class='form-group'>
			<label for="rating">* Rating (0-5)</label>
			<input type="number" class="form-control" id="rating" min='0' max='5' ng-model='$ctrl.newBook.rating' required>
		</div>
		<div class='form-group'>
			<label for="text">* Text</label>
			<textarea class="form-control" id="text" placeholder="Text" ng-model='$ctrl.newBook.text' required></textarea>
		</div>
		<div class='form-group'>
			<label for="author">* Author</label>
			<select class='form-control' id='author' placeholder="Author" ng-model='$ctrl.newBook.author' ng-options='author.id as author.name for author in $ctrl.authors.arr' required>
				<option value=''></option>
			</select>
		</div>
		<div class='form-group'>
			<label for="year">Year (0-2016)</label>
			<input type="number" class="form-control" id="year" min='0' max='2016' ng-model='$ctrl.newBook.year'>
		</div>
	</form>
	<div class='container-fluid' ng-if='!$ctrl.instance.addMode'>
		<book-details book='$ctrl.context.book'></book-details>
	</div>
</div>
<div class="modal-footer">
	<button
		ng-if='$ctrl.instance.addMode'
		class="btn btn-primary"
		type="button"
		ng-click="$ctrl.add()"
		ng-disabled='$ctrl.newBookForm.$invalid'
	>
		Add
	</button>
	<button
		ng-if='!$ctrl.instance.addMode'
		class="btn btn-primary"
		type="button"
		ng-click="$ctrl.goToPage()"
	>
		Go to page
	</button>
	<button
		class="btn btn-warning"
		type="button"
		ng-click="$ctrl.dismiss()"
	>
		<span ng-if='$ctrl.instance.addMode'>Cancel</span>
		<span ng-if='!$ctrl.instance.addMode'>Close</span>
	</button>
</div>