<div class='tbl-filter-component col-xs-6'>
	<div class='row'>
		<div class='title-container col-xs-4'>
			{{$ctrl.title}}:
		</div>
		<div class='input-container col-xs-8'>
			<input type='text' class='form-control' ng-model='$ctrl.model'>
		</div>
	</div>
</div>