<nav id='navbar-component' class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target='#navbar-items-container'>
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref='home'>PTTest</a>
		</div>

		<div class="collapse navbar-collapse" id='navbar-items-container'>
			<ul class="nav navbar-nav">
				<li
					ng-repeat='state in $ctrl.getAllStates()'
					ng-class='{
						active: $ctrl.$state.current.name === state.name
					}'
				>
					<a ui-sref='{{state.name}}'>
						{{state.data.name}}
					</a>
				</li>
			</ul>
			<form class="navbar-form navbar-right">
				<button type='button' class='btn btn-primary' ng-click='$ctrl.addBook()'>
					Add book
				</button>
			</form>
		</div>
	</div>
</nav>