<div id='home-page' class='container-fluid'>
	<div class='row heading'>
		<h1 class='col-xs-12 text-primary text-center'>Top 10 Books and Authors</h1>
	</div>
	<div class='row lists'>
		<div class='col-xs-6'>
			<h4 class='sub-heading text-center'>Books (by rating)</h4>
			<table class='table table-hover'>
				<tbody>
					<tr class='pointer' ui-sref='book({id:book.id})' ng-repeat='book in $ctrl.books.arr | orderBy:"rating":true | limitTo:10'>
						<td>
							{{book.name}} ({{book.rating}})
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class='col-xs-6'>
			<h4 class='sub-heading text-center'>Authors (by books number)</h4>
			<table class='table table-hover'>
				<tbody>
					<tr class='pointer' ui-sref='author({id:author.id})' ng-repeat='author in $ctrl.authors.arr | orderBy:"booksNumber":true | limitTo:10'>
						<td>
							{{author.name}} ({{author.booksNumber}})
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>