@indent: 10px;
@bg-color: #f8f8f8;

#home-page{
	max-width: 800px;

	.heading{
		background-color: @bg-color;
		margin-bottom: @indent;
	}

	.lists{
		div{
			&:first-child{
				padding-left: 0;
			}
			&:last-child{
				padding-right: 0;
			}

			.sub-heading{
				background-color: @bg-color;
				padding-top: @indent;
				padding-bottom: @indent;
				margin: 0;
			}
			table{
				tr{
					&:last-child{
						td{
							border-bottom: 1px solid #ddd;
						}
					}

					td{
						&:first-child{
							padding-left: 2*@indent;
						}
					}
				}
			}
		}
	}
}