<div class='book-details-component row'>
	<div class='col-xs-4 text-center'>
		<img ng-src='{{$ctrl.book.image}}'>
	</div>
	<div class='col-xs-8'>
		<table class='table table-striped col-xs-8'>
			<tbody>
				<tr>
					<td>
						Name
					</td>
					<td>
						<a ui-sref='book({id: $ctrl.book.id})'>{{$ctrl.book.name}}</a>
					</td>
				</tr>
				<tr>
					<td>
						Rating
					</td>
					<td>
						{{$ctrl.book.rating}}
					</td>
				</tr>
				<tr>
					<td>
						Author
					</td>
					<td>
						<a ui-sref='author({id: $ctrl.book.authorId})'>{{$ctrl.book.authorName}}</a>
					</td>
				</tr>
				<tr>
					<td>
						Year
					</td>
					<td>
						{{$ctrl.book.year}}
					</td>
				</tr>
				<tr>
					<td>
						Date added
					</td>
					<td>
						{{$ctrl.book.dateFormatted}}
					</td>
				</tr>
				<tr>
					<td>
						Text
					</td>
					<td>
						{{$ctrl.book.text}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>