<div class='tbl-component'>

	<div class='filters row'>
		<tbl-filter model='$ctrl.filters.common' title='Common'></tbl-filter>
		<tbl-filter model='$ctrl.filters.fields[field.name]' title='{{field.title}}' ng-repeat='field in $ctrl.fields | filter:{filterable:true}'></tbl-filter>
	</div>
	<table class='table table-hover'
		infinite-scroll='$ctrl.getMore()'
		infinite-scroll-distance='2'
		infinite-scroll-disabled='$ctrl.arr.length >= $ctrl.items.length || $ctrl.disable()'
	>
		<thead>
			<tr>
				<th
					ng-repeat='field in $ctrl.fields'
					class='{{field.name}}'
					ng-class='{
						pointer: field.sortable
					}'
					ng-click='!field.sortable || $ctrl.sort(field)'
				>
					{{field.title}}
					<span ng-if='field.sortable'>
						<span class="glyphicon glyphicon-sort" aria-hidden="true" ng-if='$ctrl.sortField!==field'></span>
						<span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true" ng-if='$ctrl.sortField===field && !field.sortDirection'></span>
						<span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true" ng-if='$ctrl.sortField===field && field.sortDirection'></span>
					</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr
				class='pointer'
				ng-repeat='item in $ctrl.arr'
				ng-click='$ctrl.itemClicked(item)'
			>
				<td
					ng-repeat='field in $ctrl.fields'
					class='{{field.name}}'
				>
					<span>
						{{item[field.name]}}
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>