<div id='author-page' class='container'>
	<div class='row mb-25'>
		<h2 class='col-xs-12 text-center'>
			{{$ctrl.author.name}}
		</h2>
	</div>
	<div class='row' ng-hide='$ctrl.books.loading'>
		<book-details class='mb-25' book='book' ng-repeat='book in $ctrl.getBooksArr()'></book-details>
	</div>
</div>