#search-page{
	table{
		td,th{
			&.name{
				width: 130px;
			}
			&.rating{
				width: 100px;
			}
			&.authorName{
				width: 130px;
			}
			&.year{
				width: 100px;
			}
		}
	}

	td{
		&.text{
			position: relative;

			&:before{
				content: '&nbsp';
				visibility: hidden;
			}

			span{
				position: absolute;
				padding: 8px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				left: 0;
				top: 0;
				width: 100%;
			}
		}
	}
}